$breakpoint: (
  pc: 'screen and (max-width:1960px)',
  tab: 'screen and (max-width:800px)',
  sp: 'screen and (max-width:600px)',
  min: 'screen and (max-width:400px)',
);

@mixin mq($bp) {
  @media #{map-get($breakpoint, $bp)} {
    @content;
  }
}
